* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
}


.section2 {
    background: rgba(27, 99, 146, 1);
    height: 52px;
    justify-content: space-between;
    padding-top: 12px 300px;
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.16) inset;

}

.section2_text1 p {
    height: 20px;
    width: 400px;
    font-weight: 200;
    font-size: 18px;
    line-height: 43px;
    color: rgba(255, 255, 255, 1);

}

.section2_text2 {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 400;
}

.section2_text2 p {
    height: 20px;
    width: 100px;

    font-size: 18px;
    line-height: 45px;
}

.section2_icon {
    height: 20px;
    width: 30px;
    padding-top: 15px;
    font-size: 18px;
    line-height: 45px;
}

.section2_text2 hr {
    transform: rotate(180deg);
    color: white;
    height: 30px;
    padding-top: 50px;
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 15%;
}

.eng {
    display: flex;
}

.eng option {
    margin-left: 25px;
    padding-top: 15px;
}

.eng i {
    padding-top: 15px;
    margin-left: 10px;
}

.section3 {
    background: rgba(27, 99, 146, 1);
    height: 88px;

    justify-content: space-between;
    padding-top: 12px 300px;
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.16) inset;

}

.section3-one {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    font-weight: 900;
    font-size: xx-large;
    color: white;

}

.section3-logo {
    display: flex;

}

.section3-logo i {
    width: 48px;
    height: 48px;
    font-size: 50px;
    padding-top: 15px;
    margin-left: 15px;

}

.section3-logo p {
    width: 121px;
    height: 40px;
    display: flex;
    font-weight: 700;
    font-size: 32px;
    line-height: 80px;
    letter-spacing: -2%;
    color: rgba(255, 255, 255, 1);
    margin-left: 15px;

}

.section3-search {
    height: 48px;
    width: 400px;
    border-radius: 2px;
    margin-top: 20px;
    padding: 14px 20px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.08);

}

.section3-search input {
    height: 20px;
    width: 330px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border: none;

}

.section3-search i {
    margin-left: 10px;
}

.section3-icon {
    height: 32px;
    width: 144px;
    gap: 24px;
    line-height: 80px;
}

.section3-icon i {
    height: 40px;
    width: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

/* .count{
  height: 20px;
  width: 20px;
  font-size: 10px;
 
} */
.section4 {

  
    display: flex;
    justify-content: space-between;
    opacity: 1;
    padding-top: 16px;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 15px;
    height: 70px;

}

.section4-one {
    display: flex;
    height: 40px;
    width: 695px;
    gap: 24px;
  
    justify-content: center;
    align-items: center;

}

.section4-one span {
    height: 48px;
    width: 154px;
    border-radius: 2px;
    padding: 14px 26px;
    background-color: #F2F4F5;
    font-size: 15px;
    font-weight: 500;
    font-style: medium;
    line-height: 0px;
    color: #000000;
}

.section4-one .section4-icon {
    height: 24px;
    width: 24px;
    padding-top: 16px;
    left: 4.5px;
    border: 1.5px;
    color: rgba(95, 108, 114, 1);
}

.section4-one p {
    width: 77;
    height: 20;
    font-size: 15px;
    font-weight: 400;
    line-height: 55px;
    color: rgba(95, 108, 114, 1);

}
.section4-main{ 
    width: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
    color: #FFFFFF;
}

.section4-two {
    height: 35px;
    width: auto;
    gap: 8px; 
    margin-left: 248px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

 .section4-two i {
    height: 0px;
    width: 20px;
    border: 1.5px;
    line-height: 6px;
    color: #000000;
}

.section4-two p {
    height: 24px;
    width: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;

}

.horizontal1 {
    box-shadow: 0px 0px 1px 0px rgb(216, 217, 218) inset;
}


/* user nav */
.user_nav{
    height: 72px;
    width: auto;
    background-color: #F2F4F5;
    
}

.user_nav-items{
    display: flex;
    width: auto;
height: 20px;
gap: 15px;
padding-top: 26px;
margin-right: 950px;
color: #5F6C72;

}
.user_nav-items span{
  color: #2DA5F3;
}


/* main section */

main{
    padding-top: 60px;
}

.p26-1 img{
width: 1120px;
height: 600px;

}
.p26-2{
    height: 1406px;
    width: 1120px;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 3px;
    display: flex;
    gap: 35px;
}
.p26-2-1{
    width: 650px;
height: 1380px;
gap: 24px;

}
.part1{
    display: block;
    gap: 18px;
    height: 34px;
    width: 430px;
    
   
}
.part1-1{
    display: flex;
    gap: 0px;
  
}
.part1-1 i{
    color: #FA8232;
    height: 24px;
    width: 24px;
    padding-top: 2px;
}
.part1-1 p{
    color: #475156;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;

}
.part1-main1{
    display: flex;
    height: 23px;
    gap: 16px;
}
.part1-main2{
    width: 559px;
height: 80px;

padding-top: 19px;
}
.part1-main2 p{
font-weight: 600;
font-size: 20px;
line-height: 30px;
letter-spacing: 0%;

}
.part2{
width: auto;
height: 40px;
display: flex;
padding-top: 110px;
justify-content: space-between;
}
.profile{
    display: flex;
    gap: 8px;
}
.profile img{
    height: 30px;
    width: 30px;

    gap: 10px;
}
.profile p {
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 25px;
letter-spacing: 0%;
color: #191C1F;

}
.wp{
    color:#25D366 ;
}
.fb{
    color: #0365a5;
}
.twi{
    color: #2DA5F3;
}
.din{
    color:#0077B5;
}
.pi{
    color: #CB2027;
}
.li{
    color: #77878F;
}
.p1{
    padding-top: 70px;
    color: #475156;
font-weight: 400;
font-size:13px;
line-height: 25px;
letter-spacing: 0%;
padding-bottom: 30px;
}
.part3{
    width: auto;
height: 124px;
gap: 24px;
display: flex;
padding: 40px;
padding-top: 30px;
background: #FFF3EB;
border: 4px solid #FA8232;
border-top: none;
border-right: none;
border-bottom: none;
}
.part3 i{
    color: #FA8232;
    width: 42px;
height: 52px;
padding-top: 13.25px;
margin-left: 7px;

}
.part3 p{
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    color: #191C1F;
}
.part4{
    width: auto;
height: 256px;
gap: 16px;
padding-top: 35px;
}
.part4 p{
    color: #475156;
font-weight: 400;
font-size: 13px;
line-height: 25px;
letter-spacing: 0%;

}
.part5{
    width: auto;
    height: 240px;
    gap: 24px;
    display: flex;
    padding-top: 85px;
}
.part5 img {
    width: 314px;
    height: 344px;
}
.p2{
    padding-top: 220px;
font-weight: 400;
font-size: 13px;
line-height: 24px;
letter-spacing: 0%;
color: #475156;
}

.p26-sec2-1{
    width: 400px;
    height: 1360px;
gap: 24px;

}
.sec1{
    width: 400px;
height: 140px;
gap: 24px;
opacity: 1;
border-radius: 4px;
border-width: 1px;
padding: 24px;
border: 1px solid #E4E7E9

}
.sec1 p{
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-transform: uppercase;
color: #191C1F;
padding-bottom: 20px;
}
.search{
    width: 352px;
height: 44px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;
gap: 8px;
border-radius: 2px;
border-width: 1px;
transform: rotate(-180deg);
border: 1px solid #E4E7E9
}
.search i{
    transform: rotate(-180deg);
}
.sec2, .sec3{
    width: 400px;
    margin-top: 25px;
height: 364px;
gap: 16px;
opacity: 1;
border-radius: 4px;
border-width: 1px;
padding: 24px;
border: 1px solid #E4E7E9;

}
.sec2 p, .sec3 p, .sec4 p, .card p{
text-transform: uppercase;
}
.products{
    height: 276px;
    width: 352px;
    gap: 19px;
    display: block;
   
    padding-top: 20px;
    display: block;
    
    
}
.product1, .product2 {
    display: flex;
    gap: 19px;
    padding-top: 12px;
    
}
.product1 p{
    color: #191C1F;
}
.product1 p ,.product2 p {
    text-transform: none;
}
.product2 p{
    color:#475156ad ;
}
.product1 i{
    color: #FA8232;
    font-weight: 550;
}
.product2 i{
    border: 1px solid #C9CFD2;
    border: none;
}
.sec3-blog1{
    padding-top: 20px;
    display: flex;
}
.sec3-blog1 p{
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
margin-left: 10px;
color: #191C1F;
text-transform: none;
padding-top: 10px;
}
.sec3-blog1 span{
font-weight: 400;
color: #77878F;
font-size: 14px;
margin-left: 10px;
line-height: 30px;
letter-spacing: 0%;

}
.sec3-blog1 img{
    width: 104px;
height: 80px;
border-radius: 2px;

}


















.card {
  border: 1px solid #E4E7E9;
  border-radius: 2px;
  padding: 20px;
  margin-top: 15px;
  box-shadow: 0 0 0 1px #f3f3f3;
}
.card p{
padding-bottom: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 6px;
  height: auto;
  display: block;
}

.tags-section {
  margin-top: 30px;
  margin-left: 8px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.tag {
  font-size: 13px;
  
  padding: 6px 12px;
  border-radius: 2px;
  cursor: pointer;
  color: #333;
  border: 1px solid #e0e0e0;
  transition: background 0.2s;
}



.tag.active {
  background: #ffefe5;
  border: 1px solid #ffa86e;
  color: #ff6b00;
} 






.p26-3{
width: 872px;
height: 364px;
gap: 24px;
 margin-left: 200px;
 margin-top: 0px;
 display: block;
}
.p26-3-1{
    width: 872px;
height: 28px;
}
.p26-3-1 p, .p26-4-title p{
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
color: #191C1F;
}
.p26-3-2{
    width: 872px;
height: 240px;
display: block;
padding-top: 20px;
display: block;
}
.one{
    display: flex;
}
.p26-first{
    width: 869px;
    height: 72px;   
}
.name {
width: 428px;
height: 71px;
gap: 8px;
top: 52px;


}
.name  p, .p26-three p{
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: #191C1F;

}
.name input{
    width: 427px;
height: 44px;
border: 1px solid #E4E7E9;
border-radius: 2px;
border-width: 1px;

}
.p26-three{
    width: 872px;
height: 152px ;
gap: 8px;
top: 140px;

}
.p26-three input{
    width: 872px;
height: 124px;
border-radius: 2px;
border-width: 1px;
border: 1px solid #E4E7E9;

}
.p26-3-3{
    width: 190px;
height: 48px;
padding-right: 24px;
padding-left: 24px;
gap: 8px;
background: #FA8232;
border-radius: 2px;
}
.p26-3-3 p{
    text-align: center;
font-weight: 600;
font-style: Bold;
font-size: 14px;
line-height: 48px;
letter-spacing: 1.2%;
text-transform: uppercase;
color: #FFFFFF;
}
.p26-4{
width: 846px;
height: 626px;
gap: 24px;
display: block;
margin-left:200px ;
}
.p26-4-title{
width: 106px ;
height: 28px;
}
.p26-4-1, .p26-4-2, .p26-4-3, .p26-4-4, .p26-4-5{
    height: 66px;
    width: 846px;
    display: flex;
    padding-top: 10px;
}
.p26-4-img{
    padding-bottom: 10px;
}
.p26-4-des{
    margin-left: 13px;
}
.p26-4-des p, .p26-4-des span{
    width: 192px;
height: 20px;
gap: 6px;
padding-top: 5px;
margin-left: 5px;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: #191C1F;
}
.p26-4-des h6{
    color: #77878F;
font-weight: 400;
font-size: 14px;
line-height: 19px;
letter-spacing: 0%;
padding-top: 10px;

}

.hr1{
    padding-top: 35px;
    color: #E4E7E9;
}

.hr2{
    padding-top: 55px;
    color: #E4E7E9;
}
.hr3{
    padding-top: 15px;
    color: #E4E7E9;
}
.p26-4-5{
    margin-bottom: 15px;
}
.p26-3-3-btn{
    width: 161px;
height: 48px;
padding-right: 24px;
padding-left: 24px;
gap: 8px;
opacity: 1;
border-radius: 2px;
border-width: 2px;
border: 2px solid #FFE7D6;
display: flex;
align-items: center;
}
.p26-3-3-btn p, .p26-3-3-btn i{
    color: #FA8232;
}


/* footer */
footer{
 background: rgba(25, 28, 31, 1);
  height: 404px;
  width: auto;
  padding: 70px;
  
}
.f1{
  height: 26px;

}
.f1-details{
 padding-top: 40px;
 margin-left: 21px;
 color: white;
}
.f1-details .support{
 font-family: Public Sans;
font-weight: 400;
font-style: Regular;
font-size: 14px;
color:rgba(173, 183, 188, 1); ;
line-height: 20px;
letter-spacing: 0%;


}
.f1-details span{
  font-family: Public Sans;
font-weight: 500;
font-style: Medium;
font-size: 20px;
color: rgba(255, 255, 255, 1);
line-height: 24px;
letter-spacing: 0%;

}
.f1-details .add{
  padding-top: 10px;
  font-family: Public Sans;
font-weight: 400;
font-style: Regular;
font-size: 16px;
color:  rgba(173, 183, 188, 1);

line-height: 24px;
letter-spacing: 0%;

}
.f1-details .mail{
  font-family: Public Sans;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);
}

.f2 h6{
  
font-weight: 500;
font-style: Medium;
font-size: 18px;
 padding-top: 17px;
line-height: 24px;
letter-spacing: 0%;
text-transform: uppercase;
color:  rgba(255, 255, 255, 1);

}
.f2 p{
 
font-weight: 500;
font-style: Medium;
margin-top: 7px;
font-size: 15px;
color: rgba(146, 159, 165, 1);

line-height: 20px;
letter-spacing: 0%;

}
.f2 .p{

font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);

}
.f2 .dash1{
  color: rgba(235, 200, 12, 1);
 margin-top: 10px;
}
.f2 span{
   color: rgba(235, 200, 12, 1);
   margin-top: 10px;
}
.f2 aero-icon1{
   color: rgba(235, 200, 12, 1);
}
.f3 h6{
  
font-weight: 500;
font-style: Medium;
font-size: 18px;
 padding-top: 17px;
line-height: 24px;
letter-spacing: 0%;
text-transform: uppercase;
color:  rgba(255, 255, 255, 1);

}
.f3 p{
 
font-weight: 500;
font-style: Medium;
margin-top: 7px;
font-size: 15px;
color: rgba(146, 159, 165, 1);

line-height: 20px;
letter-spacing: 0%;

}
.f4 h6{
  width: auto;
font-weight: 500;
font-style: Medium;
font-size: 18px;
 padding-top: 17px;
line-height: 24px;
letter-spacing: 0%;
text-transform: uppercase;
color:  rgba(255, 255, 255, 1);
}

.f4 .stores{
width: 176px;
height: 150px;
gap: 12px;
padding-top: 28px;
}
.f4 .play_store{
  display: flex;
  height: 69px;
  width: 176px;
  border-radius: 3px;
  padding-top: 16px;
  background: rgba(48, 54, 57, 1);

}
.play_store i{
   height: 32px;
   width: 29px;
   margin-left: 18px;
   left: 1.33px;
   font-size: 35px;
   color:  rgba(255, 255, 255, 1);

}
.play_store p{
 height: 13px;
 width: 88px;
 font-weight: 400;
 font-size: 11px;
 font-style: regular;
 line-height: 13px;
 margin-left: 18px;
  color:  rgba(255, 255, 255, 1);
}
.play_store span{
  height: 88px;
  width: 20px;
  font-weight: 600;
  font-style: semi-bold;
  font-size: 14px;
  line-height: 20px;
  color:  rgba(255, 255, 255, 1);
  opacity: 1;
}

.f4 .app_store{
  display: flex;
  height: 69px;
  width: 176px;
  margin-top: 12px;
  border-radius: 3px;
  padding-top: 16px;
  background: rgba(48, 54, 57, 1);

}
.app_store i{
   height: 32px;
   width: 29px;
   margin-left: 18px;
   left: 1.33px;
   font-size: 35px;
   color:  rgba(255, 255, 255, 1);

}
.app_store p{
 height: 13px;
 width: 88px;
 font-weight: 400;
 font-size: 11px;
 font-style: regular;
 line-height: 13px;
 margin-left: 18px;
  color:  rgba(255, 255, 255, 1);
}
.app_store span{
  height: 88px;
  width: 20px;
  font-weight: 600;
  font-style: semi-bold;
  font-size: 14px;
  line-height: 20px;
  color:  rgba(255, 255, 255, 1);
  opacity: 1;
}
.f5 h6{
  width: auto;
font-weight: 500;
font-style: Medium;
font-size: 18px;
 padding-top: 17px;
line-height: 24px;
letter-spacing: 0%;
text-transform: uppercase;
color:  rgba(255, 255, 255, 1);
}
.copyright{
   height: 68px;
   top: 404px;
   padding: 24px ;
   gap: 10px;
   background-color: rgba(25, 28, 31, 1);
   display: flex;
    justify-content: center;
  align-items: center;

}
.copyright p{
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(173, 183, 188, 1);
 
}

